.music iframe, .aircadets iframe {
    border: none;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 26px - 16px);
}
.aircadets .iframe-container {
    overflow: hidden;
    width: 244px;
    height: 200px;
}
.aircadets iframe {
    position: relative;
    top: -250px;
    left: -291px;
    height: 500px;
    width: 800px;
}