PORT=3006

EDULINK_SCHOOL=The prefix of the edulink URL after you enter your school code, e.g. WWW9
EDULINK_USER=Your edulink username
EDULINK_PASS=Your edulink password
EDULINK_ESTABLISHMENT=Find this number by inspect elementing edulink during login and looking for it in the request and response to the login HTTP request

CALENDAR_ID=primary <- if you want your regular google account calendar, otherwise, go to the other calendars' settings and get the id.